div {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 39%;
    margin: auto;
}

svg {
    display: block;
    width: 100%;
    height: auto;
    }

.svg-container {
    border-radius: 10px;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    mask-image: radial-gradient(white, black);
}